.background-red {
    background-color: red;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: rgb(98, 150, 19);
}

ul {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
